.Column {
  min-height: 120px;
  border-radius: 10px;

  text-align: center;
}

.Column > ul {
  margin: 0 auto;
  padding: 0;
}

.DropTarget:first-child .Column {
  background-color: hsla(5, 100%, 95%, 0.6);
}

.DropTarget:nth-child(2) .Column {
  background-color: hsla(39, 100%, 95%, 0.6);
}

.DropTarget:last-child .Column {
  background-color: hsla(115, 100%, 95%, 0.6);
}

.Column .BugCard {
  margin: 5px 0;
}