.Column {
  min-height: 120px;
  border-radius: 5px;
  margin: 14px 0;
  padding: 14px 7px 5px;
}

.Column-title {
  /* Prevents user agent-imposed margin */
  margin: 0 3px 5px;
  font-size: 13px;
  color: hsla(0, 0%, 3%, 0.8);
}

.Column-title > span {
  padding-left: 5px;
  font-weight: normal;
  color: hsla(0, 0%, 14%, 0.7);
}

.Column > ul {
  margin: 0 auto;
  padding: 0;
}

.DropTarget:first-child .Column {
  background-color: hsla(314.6, 66.6%, 77.7%, 0.7);
  margin-left: 14px;
}

.DropTarget:nth-child(2) .Column {
  background-color: hsla(0, 0%, 89%, 0.7);
  margin: 14px 7px;
}

.DropTarget:last-child .Column {
  background-color: hsla(115, 66.6%, 77.7%, 0.7);
  margin-right: 14px;
}

.Column .BugCard {
  margin: 2.5px 0;
  max-width: 100%;
  border: none;
}

.Column [draggable] {
  width: 100%;
}
