.troubleshooting {
  outline: 2px solid red;
}

button {
  cursor: pointer;
}

.Overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5); /* color */

  font-family: sans-serif;
}

.Overlay > header {
  text-align: right;
  /* color: white; */
  font-size: 18px;
  padding: 5px;
}
