.BugTriage {
  border-top: 1px solid hsla(0, 0%, 0%, 0.4);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.4);
  overflow-x: auto;
}

.BugTriage .DropTarget {
  min-height: 163px;
  padding: 10px 5px;
}

.BugTriage header {
  margin-bottom: 10px;
}

.BugTriage-content {
  white-space: nowrap;
}

.BugTriage-content .BugCard {
  margin: 0 7px;
}

.BugTriage-content .BugCard:first-child {
  margin-left: 0;
}