.Triage {
  display: flex;
  min-height: 118px;
  padding: 10px;
  overflow-x: auto;
  border-top: 1px solid hsla(0, 0%, 0%, 0.4);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.4);
}

.Triage .BugCard {
  margin: 0 5px;
}